# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Build directories
build/
bin/

# IDE-specific files
.vscode/
.idea/

# Dependency directories
vendor/
